.main-logo
    position: fixed
    width: 100%
    height: 66px
    background-color: #fff
.main-content
    transition: 1s all
    width: 80%
    margin: 0 auto
    padding: 0 80px

.data, .result
    padding-top: 106px
.articles
    display: flex
    justify-content: space-between
    margin-bottom: 70px
    &-block
        width: 45%
.data-list
    width: 100%
.data-li
    display: flex
    justify-content: space-between
    position: relative
    margin-bottom: 10px
    padding: 0 20px
.remove-li
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)
    width: 15px
    height: 15px
    background: url(../images/remove.svg) center / contain no-repeat
    cursor: pointer
    opacity: 0.6
.articles-block .buttons-row
    position: relative
    padding: 0 20px
.add-li
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)
    width: 15px
    height: 15px
    background: green url(../images/add.svg) center / 7px no-repeat
    border-radius: 2px
    cursor: pointer
    opacity: 0.6

.budget-input, .expenses-input
    width: 48%
.buttons-row
    display: flex
    justify-content: flex-end
.clear-budget-btn, .clear-expenses-btn
    margin-left: 5px

.options
    display: flex
    justify-content: space-between
    margin-bottom: 60px


.daybudget-block, .time-data
    width: 45%
.daybudget-options
    display: flex
    justify-content: center
.daybudget-input
    margin-left: 10px
.daybudget-label
    font-size: 14px
.time-data-input
    display: block
    margin: 0 auto
    padding: 3px
    text-align: center
    &::placeholder
        font-size: 12px
        text-align: center
.data .ready
    display: block
.data .start
    display: none
.data .start, .data .ready
    margin: 0 auto
    height: 50px
    padding: 0 40px
    font-size: 14px
    font-weight: 400
    text-transform: uppercase


.result
    display: none
    .buttons-row
        margin-top: 10px
    .reset-btn
        margin-left: 5px
    &-content
        position: relative
        display: flex
        padding: 40px
        background-color: #ffffff
        border-radius: 5px
        box-shadow: 0 2.5px 10px 0 rgba(1,0,42,.1)
    &-value
        color: $positive-value-color
.close-result
    display: none
    position: absolute
    right: 0
    top: 0
    font-size: 22px
    width: 26px
    height: 26px
    text-align: center
    cursor: pointer
.percentage-block
    display: flex
    flex-direction: column
    margin-right: 50px
.percentage-item
    margin-top: 4px
.budget-block
    display: flex
    flex-direction: column
    &-item
        margin-top: 4px
.daybudget
    margin-top: 20px
.expenses-percentage
    color: $neutral-value-color
.expenses-value
    color: $negative-value-color
.expenses-name, .expenses-percentage
    display: inline-block
