.main-logo
    width: 100%
    height: 66px
    background-color: #fff
.main-content
    width: 80%
    margin: 0 auto
    padding: 0 80px
  
.data, .result
    padding: 40px 0
.articles
    display: flex
    justify-content: space-between
    margin-bottom: 70px
    &-block
        width: 45%
.data-list
    width: 100%
.data-li
    display: flex
    justify-content: space-between
    position: relative
    margin-bottom: 10px
    padding: 0 20px
.remove-li
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)
    width: 15px
    height: 15px
    background: url(../images/remove.svg) center / contain no-repeat
    cursor: pointer
    opacity: 0.6
.articles-block .buttons-row
    position: relative
    padding: 0 20px
.add-li
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)
    width: 15px
    height: 15px
    background: green url(../images/add.svg) center / 7px no-repeat
    border-radius: 2px
    cursor: pointer
    opacity: 0.6

.budget-input, .expenses-input
    width: 48%
.buttons-row
    display: flex
    justify-content: flex-end
.clear-budget-btn, .clear-expenses-btn
    margin-left: 5px

.options
    display: flex
    justify-content: space-between
    margin-bottom: 60px


.daybudget-block, .time-data
    width: 45%
.daybudget-options
    display: flex
    justify-content: center
.daybudget-input
    margin-left: 10px
.daybudget-label
    font-size: 14px
.time-data-input
    display: block
    margin: 0 auto
    padding: 3px
    text-align: center
    &::placeholder
        font-size: 12px
        text-align: center
.data .start
    display: block
    margin: 0 auto
    width: 200px
    height: 50px
    font-size: 14px
    font-weight: 400
    text-transform: uppercase

    


.result
    .buttons-row
        margin-top: 10px
    .reset-btn
        margin-left: 5px
    &-content
        display: flex
        padding: 40px
        background-color: #ffffff
        border-radius: 5px
        box-shadow: 0 2.5px 10px 0 rgba(1,0,42,.1)
    &-value
        color: $positive-value-color
.percentage-block
    margin-right: 50px
.daybudget
    margin-top: 20px
.expenses-percentage
    color: $neutral-value-color
.expenses-value
    color: $negative-value-color